In [109]:
# Import necessary packages
import pandas as pd
from datetime import datetime

In [110]:
# Read the data
dataframe = pd.read_csv("ks.csv")
# Read the rest of the data
filtered = dataframe[['country', 'main_category', 'state', 'ID']]
date_range = dataframe[['deadline', 'launched']] # Used to calc date_range
profit = dataframe[['usd_pledged_real', 'usd_goal_real']] # Used to calc profit

In [111]:
_range = [''] * len(date_range)
for i in range(0, len(date_range)):
    _range[i] = date_range['launched'][i][:10]

date_range.head()

     deadline             launched
0  2015-10-09  2015-08-11 12:12:28
1  2017-11-01  2017-09-02 04:43:57
2  2013-02-26  2013-01-12 00:20:50
3  2012-04-16  2012-03-17 03:24:11
4  2015-08-29  2015-07-04 08:35:03

In [112]:
time = [''] * len(date_range)
_time = [''] * len(date_range)
for i in range(0, len(_range)):
    time[i] = datetime.strptime(date_range['deadline'][i], '%Y-%m-%d')  - datetime.strptime(_range[i], '%Y-%m-%d')
    if time[i].days > 50:
        _time[i] = '> 50 days'
    elif time[i].days > 40:
        _time[i] = '40-50 days'
    elif time[i].days > 30:
        _time[i] = '30-50 days'
    elif time[i].days > 20:
        _time[i] = '20-30 days'
    elif time[i].days > 10:
        _time[i] = '10-20 days'
    else:
        _time[i] = '< 10 days'

In [113]:

filtered.insert(2, 'date_range', _time, True)
filtered.head()

  country main_category  date_range     state          ID
0      GB    Publishing   > 50 days    failed  1000002330
1      US  Film & Video   > 50 days    failed  1000003930
2      US  Film & Video  40-50 days    failed  1000004038
3      US         Music  20-30 days    failed  1000007540
4      US  Film & Video   > 50 days  canceled  1000011046

In [114]:
# Create profit
_profit = [''] * len(profit)
for i in range(0, len(profit)):
    if round((profit['usd_pledged_real'][i]/profit['usd_goal_real'][i]) * 100, 4) >= 200:
        _profit[i] = '> 200%'
    elif round((profit['usd_pledged_real'][i]/profit['usd_goal_real'][i]) * 100, 4) >= 120:
        _profit[i] = '120% - 200%'
    elif round((profit['usd_pledged_real'][i]/profit['usd_goal_real'][i]) * 100, 4) >= 100:
        _profit[i] = '100% - 120%'
    elif round((profit['usd_pledged_real'][i]/profit['usd_goal_real'][i]) * 100, 4) >= 50:
        _profit[i] = '50% - 100%'
    elif round((profit['usd_pledged_real'][i]/profit['usd_goal_real'][i]) * 100, 4) >= 25:
        _profit[i] = '25% - 50%'
    elif round((profit['usd_pledged_real'][i]/profit['usd_goal_real'][i]) * 100, 4) >= 10:
        _profit[i] = '10% - 25%'
    else:
        _profit[i] = '< 10%'

In [115]:
print(_profit[:10])

['< 10%', '< 10%', '< 10%', '< 10%', '< 10%', '100% - 120%', '120% - 200%', '< 10%', '< 10%', '< 10%']

In [116]:
filtered.insert(4, 'profit', _profit, True)
filtered.head()

  country main_category  date_range     state profit          ID
0      GB    Publishing   > 50 days    failed  < 10%  1000002330
1      US  Film & Video   > 50 days    failed  < 10%  1000003930
2      US  Film & Video  40-50 days    failed  < 10%  1000004038
3      US         Music  20-30 days    failed  < 10%  1000007540
4      US  Film & Video   > 50 days  canceled  < 10%  1000011046

In [117]:
filtered.to_csv("sankey.csv")